.professor-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.imgStyle {
  width: 300px;
  border-radius: 15px;
  height: auto;
}

.headingStyle {
  font-size: 100px;
  margin-bottom: 150px;
}

.opacity {
  opacity: 30%;
}
